@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

@layer components {
  *:active,
  *:focus {
    outline: none !important;
  }

  html,
  body,
  #__next {
    @apply h-screen;
  }

  #__next {
    font-family: inherit !important;
    color: inherit !important;
    @apply flex h-full flex-col text-sm text-gray-700 antialiased lg:text-base;
  }

  /* Remove autocomplete color in Chrome */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-transition: color 9999s ease-out, background-color 9999s ease-out;
    -webkit-transition-delay: 9999s;
  }

  select {
    /* remove default arrow down icon in right side */
    appearance: none;
  }

  .monaco-editor,
  .monaco-editor-background,
  [role='presentation'] {
    background: transparent !important;
  }

  .hive-markdown a {
    @apply text-orange-500 hover:no-underline;
  }

  .hive-markdown code {
    @apply rounded bg-white/10 px-2 py-1 text-orange-500;
  }

  .hive-loading-indicator {
    background: linear-gradient(to right, transparent 0%, #f4b740 50%, transparent 100%);
    animation: 1s ease 0s infinite normal none running loading-indicator;
  }

  @keyframes loading-indicator {
    0% {
      left: -40%;
    }
    100% {
      left: 100%;
    }
  }

  .hive-modal {
    transform: translate(-50%, -50%);
    box-shadow: hsl(206 22% 7% / 35%) 0 10px 38px -10px, hsl(206 22% 7% / 20%) 0 10px 20px -15px;
  }

  @media (prefers-reduced-motion: no-preference) {
    .hive-modal {
      animation: content-show 300ms cubic-bezier(0.16, 1, 0.3, 1);
    }
  }

  @keyframes content-show {
    0% {
      opacity: 0;
      transform: translate(-50%, -48%) scale(0.96);
    }
    100% {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    .hive-modal-overlay {
      animation: overlay-show 300ms cubic-bezier(0.16, 1, 0.3, 1);
    }
  }

  @keyframes overlay-show {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  /* hide arrows for <input type="number" /> */
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}
