.env
.env.template
dist/
.next/
__generated__/

/.husky/_/
/.turbo/
/integration-tests/testkit/gql/
/packages/services/storage/src/db/types.ts
/packages/libraries/cli/src/sdk.ts
/packages/libraries/cli/src/gql/
/packages/web/app/src/gql/**
/packages/web/app/src/graphql/index.ts
/packages/web/app/next.config.mjs
/packages/migrations/test/utils/testkit.ts
/packages/web/app/storybook-static

# test fixtures
integration-tests/fixtures/init-invalid-schema.graphql
/target
tmp

pnpm-lock.yaml
.bob/

.changeset/

# temp volumes
.hive/
.hive-dev/
