/* same as in Nextra 2 */

a,
summary,
button,
input,
[tabindex]:not([tabindex='-1']) {
  @apply outline-none;

  &:focus-visible {
    @apply ring-2 ring-[hsl(var(--nextra-primary-hue)_var(--nextra-primary-saturation)_86%)] ring-offset-1 ring-offset-[hsl(var(--nextra-primary-hue)_var(--nextra-primary-saturation)_77%)] dark:ring-[hsl(var(--nextra-primary-hue)_var(--nextra-primary-saturation)_32%)] dark:ring-offset-[hsl(var(--nextra-primary-hue)_var(--nextra-primary-saturation)_39%)];
  }
}

a,
summary {
  @apply rounded;
}
