:is(html[class~='light'] .nextra-search-results ._text\-primary\-600) {
  color: hsl(
    var(--nextra-primary-hue) var(--nextra-primary-saturation) 40% / var(--tw-text-opacity)
  );
}

.light .nextra-search-results {
  @apply !border-green-200;
  background-color: white;
  padding: 1rem 0;
}

.light .nextra-search-results .dark\:_text-gray-400:is(html[class~='dark'] *) {
  @apply !text-green-800;
}

.light .nextra-search-results .dark\:_text-gray-300:is(html[class~='dark'] *) {
  @apply !text-green-1000;
}

.light .nextra-search-results .dark\:_text-gray-300:is(html[class~='dark'] *) {
  @apply !text-green-800;
}

@media not all and (min-width: 768px) {
  .light .nextra-sidebar-container {
    @apply !bg-white;
  }
}
