.nextra-sidebar-container {
  --hive-meta-label-color: rgb(107, 114, 128);
  --hive-meta-lettermark-bg: rgb(107, 114, 128);
}

.nextra-sidebar-container:not(.light *) {
  --hive-meta-label-color: rgba(163, 163, 163);
  --hive-meta-lettermark-bg: rgba(255, 255, 255, 0.1);
}

.light .nextra-sidebar-container input {
  color: rgb(0, 52, 44);
  background-color: rgb(248, 247, 246) !important;
  border: 1px solid rgb(241, 238, 228);
}
.light .nextra-sidebar-container input::placeholder {
  color: rgba(36, 88, 80, 0.9) !important;
}
.light .nextra-sidebar-container .dark\:_text-neutral-400:is(html[class~='dark'] *) {
  color: rgb(107, 114, 128);
}
.light .nextra-sidebar-container .dark\:_bg-black\/50:is(html[class~='dark'] *) {
  background-color: #fff;
}
.light .nextra-sidebar-container .dark\:before\:_bg-neutral-800:is(html[class~='dark'] *):before {
  background-color: rgb(229, 231, 235);
}
.light .nextra-sidebar-container .nextra-search-results:is(html[class~='dark'] *) {
  border-color: rgb(229, 231, 235);
}
.light .nextra-sidebar-container .nextra-sidebar-footer:is(html[class~='dark'] *) {
  border-color: #e5e7eb;
}

._fixed._z-10:has(+ .nextra-sidebar-container) {
  @apply md:hidden;
}
